.exam-img {
  height: 200px !important;
}

.height-100 {
  display: table;
  height: 100% !important;
}

.align-middle {
  width: 100% !important;
  display: inline-block;
  vertical-align: middle;
}

.number-score {
  height: 100% !important;
  width: 100% !important;
  text-align: center !important;
  font-size: 3em !important;
}
