<!-- <ion-header>
  <ion-toolbar>
    <ion-title>visitantes</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <!-- COPIAR EL HEADER DEL INICIO PERO MAS CORTO -->
  <ion-row
  class="fondoCool ion-justify-content-end ion-padding"
  [style.background-image]="'https://picsum.photos/400/200'"
>
  <ion-col size="8" class="ion-margin-top ion-padding-top">
    <br><br><br><br>
    <ion-text color="light" class="titulo1">Bienvenido(a)</ion-text>
    <br>
    <ion-text color="light" class="titulo2" *ngIf="userData">
      {{userData.names}} {{userData.lastNames}}
    </ion-text>
  </ion-col>
  <ion-col size="4" class="ion-text-center">
    <img src="https://picsum.photos/400/200" height="100" class="logo" onerror="handleErrorImg($event)">
  </ion-col>
</ion-row>

<!-- SECCION NUEVA PARA VISITANTE -->

  <div class="scrolling-wrapper">
    <div class="card" *ngFor="let item of list1">
      <ion-card>
        <div [ngStyle]="{'background-image': 'url(' + 'https://picsum.photos/400/200' + ')'}" class="img_header"></div>
        <ion-card-content>
          <ion-card-title>La vida siempre sera la vida ya veras!</ion-card-title>
          <div class="description">
            Este es el limite de caracteres para las cards se vean iguales...
          </div>
          <ion-button slot="end" size="small">Ir devocional</ion-button>
        </ion-card-content>
      </ion-card>      
    </div>
    <div class="card">
      <ion-card>
        <div [ngStyle]="{'background-image': 'url(' + '/assets/cruz.png' + ')'}" class="img_header"></div>
        <ion-card-content>
          <ion-card-title>Puedes ver nuestra lista de devocionales</ion-card-title>
          <div class="description">
            Puedes acceder al listado y mirar contenido de fechas anteriores...
          </div>
          <ion-button fill="outline" slot="end" size="small">Lista de devocionales</ion-button>
        </ion-card-content>
      </ion-card>      
    </div>
  </div>
  <div class="scrolling-wrapper">
    <div class="card" *ngFor="let item of list2">
      <ion-card>
        <div [ngStyle]="{'background-image': 'url(' + 'https://picsum.photos/400/200' + ')'}" class="img_header2"></div>
        <ion-card-content>
          <ion-card-subtitle>Culto Celebracion de primicias</ion-card-subtitle>
          <div class="description">
            Domingo 12 Oct, Hora 12:30 pm
          </div>
        </ion-card-content>
      </ion-card>      
    </div>
    <div class="card">
      <ion-card>
        <div [ngStyle]="{'background-image': 'url(' + '/assets/cruz.png' + ')'}" class="img_header2"></div>
        <ion-card-content>
          <br>
          <ion-button slot="end" size="small">Lista de eventos</ion-button>
        </ion-card-content>
      </ion-card>      
    </div>
  </div>
  <div class="scrolling-wrapper">
    <div class="card3" *ngFor="let item of opciones">
      <ion-card>
        <div [ngStyle]="{'background-image': 'url(' + item.imagen + ')'}" class="img_header3"></div>
        <ion-card-content>
          <ion-card-subtitle class="ion-text-center">{{item.titulo}}</ion-card-subtitle>
        </ion-card-content>
      </ion-card>      
    </div>
  </div>
  
</ion-content>
