.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    .card {
        display: inline-block;
        width: 75%;
        white-space: normal;
    }
    .card3 {
        display: inline-block;
        width: 40%;
        white-space: normal;
    }
    .img_header{
        height: 70px !important;
        background-position: center center;
        background-repeat: noce;
        background-size: cover;
    }
    .img_header2{
        height: 110px !important;
        background-position: center center;
        background-repeat: noce;
        background-size: cover;
    }
    .img_header3{
        height: 70px !important;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .description{
        margin: 5px 0 5px 0;
    }
}
