<ion-content>
  <ion-row
    class="fondoCool ion-justify-content-end ion-padding"
    [style.background-image]="styleBg"
  >
    <ion-col size="8" class="ion-margin-top ion-padding-top">
      <br><br><br><br>
      <ion-text color="light" class="titulo1">Bienvenido(a)</ion-text>
      <br>
      <ion-text color="light" class="titulo2" *ngIf="userData">
        {{userData.names}} {{userData.lastNames}}
      </ion-text>
    </ion-col>
    <ion-col size="4" class="ion-text-center">
      <img [src]="logo" height="100" class="logo" onerror="handleErrorImg($event)">
    </ion-col>
  </ion-row>

  <div *ngIf="!login" class="ion-margin-top ion-padding-top">
    <br><br><br>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <h4>
          <ion-text color="primary">
            Inicio de sesión
          </ion-text>
        </h4>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="9">
        <ion-item>
          <ion-label position="floating" color="medium">Nº de teléfono</ion-label>
          <ion-input
            [(ngModel)]="phone"
            class="ion-text-uppercase"
            maxlength="12"
            (keypress)="validateOnlyNumber2($event)"
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="9">
        <ion-item>
          <ion-label position="floating" color="medium">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="pass"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="9">
        <p (click)="goTo('recuperar-acceso')">
          <ion-text color="medium" class="ion-text-start">¿Olvidaste tu contraseña?</ion-text>
        </p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-margin-top">
      <ion-col size="auto">
        <ion-button expand="block" color="light" (click)="goTo('registro')">
          Registro
        </ion-button>
      </ion-col>
      <ion-col size="auto">
        <ion-button expand="block" color="primary" (click)="ingresar()">
          Ingresar
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
    </ion-row>
  </div>

  <div *ngIf="login"  class="ion-margin-top ion-padding-top ion-margin-bottom ion-padding-bottom">
    <br/>
    <ion-row class="ion-justify-content-center">
      <ion-col size="5"
        *ngFor="let item of opciones; let i = index"
        class="ion-text-center ion-margin-top ion-padding-top"
        style="cursor: pointer;"
        (click)="irMenu(i)"
        >
        <p><img [src]="item.imagen" alt=""/></p>
        <ion-text color="medium" class="ion-padding-top">{{item.titulo}}</ion-text>
      </ion-col>
      <ion-col size="12" class="">
      </ion-col>
      <ion-col size="12">

        <br/>
        <br/>
      </ion-col>
    </ion-row>
  </div>

  <ion-fab class="ion-margin-end ion-margin-bottom" vertical="bottom" horizontal="end" slot="fixed"*ngIf="login">
    <ion-fab-button color="primary" (click)="goTo('perfil')">
      <ion-icon name="person-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>



  <ion-fab class="ion-margin-start ion-margin-bottom" vertical="bottom" horizontal="start" slot="fixed" *ngIf="showButtonSocial">
    <ion-fab-button color="dark">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" *ngIf="params?.facebook" (click)="openExternalLink('facebook')">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" *ngIf="params?.instagram" (click)="openExternalLink('instagram')">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" *ngIf="params?.twitter" (click)="openExternalLink('twitter')">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" *ngIf="params?.web" (click)="openExternalLink('web')">
        <ion-icon name="globe-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" *ngIf="params?.youtube" (click)="openExternalLink('youtube')">
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
