<ion-content>

  <!-- COPIAR EL HEADER DEL INICIO PERO MAS CORTO -->
  <ion-row
    class="fondoCool ion-justify-content-end ion-padding"
    [style.background-image]="styleBg"
  >
    <ion-col size="8" class="ion-margin-top ion-padding-top">
      <br><br><br><br>
      <ion-text color="light" class="titulo1">Bienvenido(a)</ion-text>
      <br>
      <ion-text color="light" class="titulo2" *ngIf="userData">
        {{userData.names}} {{userData.lastNames}}
      </ion-text>
    </ion-col>
    <ion-col size="4" class="ion-text-center">
      <img [src]="logo" height="100" class="logo" onerror="handleErrorImg($event)">
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12"><br></ion-col>

    <ion-col size="12" *ngIf="devotionals?.length > 0">
      <div class="scrolling-wrapper">
        <app-devocionales-card *ngFor="let item of devotionals" [item]="item"></app-devocionales-card>
        <div class="card">
          <ion-card>
            <div [ngStyle]="{'background-image': 'url(' + '/assets/cruz.png' + ')'}" class="img_header"></div>
            <ion-card-content>
              <ion-card-subtitle class="card-title">Ver nuestra lista de devocionales</ion-card-subtitle>
              <div class="description">
                Accede a más contenido ...
              </div>
              <ion-button
                fill="outline"
                slot="end"
                size="small"
                (click)="goTo('devocionales')"
              >Lista de devocionales</ion-button>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-col>

    <ion-col size="12" *ngIf="events?.length > 0">
      <div class="scrolling-wrapper">
        <app-eventcard2 *ngFor="let ele of events" [data]="ele"></app-eventcard2>
        <div class="card">
          <ion-card>
            <div [ngStyle]="{'background-image': 'url(' + '/assets/icon/calendario.svg' + ')'}" class="img_header4"></div>
            <ion-card-content class="ion-text-center">
              <div class="description">
                <br>
                <ion-button size="small" (click)="goTo('eventos')">Ver lista de eventos</ion-button>
                <br>
                <br>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-col>

    <ion-col size="12">
      <div class="scrolling-wrapper">
        <div class="card3" *ngFor="let item of opciones; let i=index" (click)="irMenu(i)">
          <ion-card>
            <div [ngStyle]="{'background-image': 'url(assets/icon/' + item.imagen + '.svg)'}" class="img_header3"></div>
            <ion-card-content>
              <ion-card-subtitle class="ion-text-center">{{item.titulo}}</ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </div>
        <div class="card3" (click)="logout()" *ngIf="logged">
          <ion-card>
            <div [ngStyle]="{'background-image': 'url(assets/icon/logout.svg)'}" class="img_header3"></div>
            <ion-card-content>
              <ion-card-subtitle class="ion-text-center">Salir</ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-col>
    <ion-col *ngIf="showButtonSocial || userData"><br><br><br></ion-col>

  </ion-row>

  <ion-fab class="ion-margin-end" vertical="bottom" horizontal="end" slot="fixed" *ngIf="userData">
    <ion-fab-button color="primary" (click)="goTo('perfil')">
      <ion-icon name="person-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab class="ion-margin-start" vertical="bottom" horizontal="start" slot="fixed" *ngIf="showButtonSocial">
    <ion-fab-button color="dark">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" *ngIf="params?.facebook" (click)="openExternalLink('facebook')">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" *ngIf="params?.instagram" (click)="openExternalLink('instagram')">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" *ngIf="params?.twitter" (click)="openExternalLink('twitter')">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" *ngIf="params?.web" (click)="openExternalLink('web')">
        <ion-icon name="globe-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" *ngIf="params?.youtube" (click)="openExternalLink('youtube')">
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
