

.fondoCool{
  //background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/cruz.png");
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) center center;
  background-size: cover;
  min-height: 180px;
}

.logo{
  margin-bottom: -190px !important;
  border-radius: 5px;
}

.footer{
  font-size: 2em;
  text-align: center;
}
