<ion-header>
  <app-minheader title="Mis grupos familiares"></app-minheader>
</ion-header>

<ion-content color="light">
  <div *ngIf="groups.length > 0; else noGroups">
    <ion-row>
      <ion-col size="12" class="ion-text-end">
        <ion-button (click)="openModalReport()" *ngIf="showButtonReport">
          <ion-icon name="create-outline" slot="start"></ion-icon>
          <ion-text>Agregar reporte</ion-text>
        </ion-button>
      </ion-col>
      <ion-col [size]="12" [sizeSm]="6" [sizeMd]="4" [sizeLg]="3">
        <app-grupo-familiar-card
          *ngFor="let group of groups"
          [group]="group"
          [showData]="true"
          (click)="goToDetails(group._id || null)"
        ></app-grupo-familiar-card>
      </ion-col>
    </ion-row>
  </div>

  <ng-template #noGroups>
    <ion-card class="ion-margin-top">
      <ion-card-content>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-text>
              <p class="ion-text-center">
                <ion-icon name="alert-circle-outline"></ion-icon>
                Disculpe, pero usted no se encuentra asociado a ningún grupo familiar.
              </p>
            </ion-text>
            <br>
            <ion-button color="primary" (click)="goToJoin()">
              <ion-icon name="push-outline" slot="start"></ion-icon>
              Unirme
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ng-template>

  <div class="ion-margin"><br/></div>
</ion-content>
