<ion-content>
  <ion-header color="primary">
    <ion-toolbar class="ion-no-padding ion-no-margin">
      <div class="fondoCool">
        <ion-row>
          <ion-col class="ion-margin-top ion-margin-bottom">
            <ion-buttons>
              <ion-button color="light" (click)="getQuestionsFromList()" *ngIf="!finishedTest.msg && viewSelected > 0 && viewSelected <= totalsViews">
                <ion-icon name="arrow-back-outline"></ion-icon>
              </ion-button>
              <ion-button color="light" (click)="!finishedTest.msg ? dismiss() : closeModal()" *ngIf="viewSelected === 0 || finishedTest.msg">
                <ion-icon name="close"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>
          <ion-col size="7" class="ion-margin-top ion-margin-bottom">
            <ion-text color="light" class="titulo1">Examen: {{ title }}</ion-text>
          </ion-col>
          <ion-col>
            <img src="assets/logo.png" class="logo-2">
          </ion-col>
        </ion-row>
      </div>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="questionsView && !finishedTest.msg">
    <ion-list *ngFor="let item of questionsView">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ item.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div *ngIf="item.description" [innerHTML]="item.description"></div>

          <div *ngIf="item.inputType === 'text'">
            <ion-item>
              <ion-label position="floating" color="medium">{{ item.placeholder || 'Indique su respuesta' }}</ion-label>
              <ion-input [(ngModel)]="questionsModel[item._id]" [required]="item.require"></ion-input>
            </ion-item>
          </div>
          <div *ngIf="item.inputType === 'textarea'">
            <ion-item>
              <ion-label position="floating" color="medium">{{ item.placeholder || 'Indique su respuesta' }}</ion-label>
              <ion-textarea
                rows="4"
                cols="20"
                [(ngModel)]="questionsModel[item._id]"
                [required]="item.require"
              ></ion-textarea>
            </ion-item>
          </div>
          <div *ngIf="item.inputType === 'radio'">
            <ion-radio-group [(ngModel)]="questionsModel[item._id]" value="{{questionsModel[item._id]}}">
              <ion-list *ngFor="let value of item.values; let i=index">
                <ion-item>
                  <ion-label>{{ value }}</ion-label>
                  <ion-radio slot="start" value="{{i}}"></ion-radio>
                </ion-item>
              </ion-list>
            </ion-radio-group>
          </div>
          <div *ngIf="item.inputType === 'checkbox'">
            <ion-list>
              <ion-item *ngFor="let value of questionsModel[item._id]">
                <ion-label>{{ value.val }}</ion-label>
                <ion-checkbox
                  slot="start"
                  [(ngModel)]="value.isChecked"
                ></ion-checkbox>
              </ion-item>
            </ion-list>
          </div>
          <ion-text *ngIf="item.require"><i>(*) Obligatoria </i></ion-text>
        </ion-card-content>
      </ion-card>
    </ion-list>
    <div *ngIf="viewSelected === 0; else nextButtons">
      <ion-row>
        <ion-col size="6">
          <ion-button color="light" expand="block" (click)="dismiss()">
            <ion-text>SALIR</ion-text>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button color="primary" expand="block" (click)="getQuestionsFromList(true)">
            <ion-text>SIGUIENTE</ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
    <ng-template #nextButtons>
      <ion-row>
        <ion-col size="6">
          <ion-button color="light" expand="block" (click)="getQuestionsFromList()">
            <ion-text>ATRÁS</ion-text>
          </ion-button>
        </ion-col>
        <ion-col size="6" *ngIf="viewSelected > 0 && viewSelected < totalsViews">
          <ion-button color="primary" expand="block" (click)="getQuestionsFromList(true)">
            <ion-text>SIGUIENTE</ion-text>
          </ion-button>
        </ion-col>
        <ion-col size="6" *ngIf="viewSelected === totalsViews">
          <ion-button color="primary" expand="block" (click)="finishTest()">
            <ion-text>FINALIZAR</ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </ng-template>
    <!--<ion-card>-->
      <!--<ion-card-content>-->

      <!--</ion-card-content>-->
    <!--</ion-card>-->
  </div>
  <div *ngIf="finishedTest.msg">
    <ion-card>
      <ion-card-header>
        <ion-img class="exam-img" [src]="'/assets/icon/education.svg'" *ngIf="finishedTest.approved"></ion-img>
        <ion-img class="exam-img" [src]="'/assets/icon/exam.svg'" *ngIf="!finishedTest.approved"></ion-img>
        <ion-card-title class="ion-text-center ion-margin-top">{{finishedTest.msg}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-row>
          <ion-col size="12">
            <ion-row>
              <ion-col size="6" class="height-100">
                <div class="align-middle"></div>
                <h2 class="number-score">{{ finishedTest.average }}</h2>
                <ion-card-title class="ion-text-center">Puntos</ion-card-title>
              </ion-col>
              <ion-col size="6" class="ion-justify-content-around">
                <ion-img [src]="'/assets/icon/rating.svg'"></ion-img>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="12" class="ion-justify-content-center">
            <ion-button expand="block" (click)="closeModal()">
              <ion-text>CERRAR EXAMEN</ion-text>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
