<ion-card
  class="ion-no-padding ion-no-margin ion-margin-start ion-margin-end ion-margin-bottom"
  *ngIf="course"
  (click)="member._id && showButton ? goToDetails('persona', member._id) : null"
>
  <ion-card-content class="ion-no-margin ion-no-padding">
    <ion-row>
      <ion-col size="3">
        <ion-avatar>
          <ion-img src="/assets/icon/{{member.gender ? 'mujer_lista' : 'hombre_lista'}}.svg"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col>
        <b>{{ member.names || '' }} {{ member.lastNames || '' }}</b>
        <br/>
        {{ member.direction || 'No indicada' }}
        <div *ngIf="showButton">
          <i class="toSmall">Toca para más información.</i>
        </div>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
