<ion-content>
  <ion-header>
    <app-minheader title="Padres espirituales"></app-minheader>
  </ion-header>

  <ion-row class="ion-margin-top ion-no-padding" *ngIf="referred">
    <ion-col size="12">
      <ion-text><b class="ion-margin-start">Mi padre espiritual</b></ion-text>
    </ion-col>
    <ion-col size="12" size-sm="6" size-md="4" size-lg="3">
      <app-personcard [data]="referred"></app-personcard>
    </ion-col>
  </ion-row>

  <ion-row class="ion-margin-top ion-no-padding" *ngIf="referrals && referrals.length > 0; else noReferrals">
    <ion-col size="12">
      <ion-text><b class="ion-margin-start">Mis hijos espirituales ({{ totals }})</b></ion-text>
    </ion-col>
    <ion-col class="ion-margin-top ion-no-padding" size="12" size-sm="6" size-md="4" size-lg="3" *ngFor='let referred of referrals'>
      <app-personcard [data]="referred"></app-personcard>
    </ion-col>
    <ion-col size="12">
      <br>
    </ion-col>
  </ion-row>

  <ng-template #noReferrals>
    <ion-row class="ion-margin-top ion-no-padding">
      <ion-col size="12">
        <ion-card class="ion-no-padding">
          <ion-text class="ion-text-center" color="medium">
            <p><ion-icon name="alert-circle-outline"></ion-icon> No tienes hijos espirituales.</p>
          </ion-text>
        </ion-card>
      </ion-col>
    </ion-row>
  </ng-template>

  <ion-fab class="ion-margin-end ion-margin-bottom" vertical="bottom" horizontal="end" slot="fixed" *ngIf="totalsGroups > 0">
    <ion-fab-button color="primary" (click)="goToFamiliesGroups()">
      <ion-icon name="people-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
