<ion-header>
  <app-minheader title="Padres espirituales"></app-minheader>
</ion-header>

<ion-content color="light">
  <ion-row class="ion-margin-top ion-no-padding" *ngIf="referred">
    <ion-col size="12">
      <ion-text><b class="ion-margin-start">Mi padre espiritual</b></ion-text>
    </ion-col>
    <ion-col size="12" size-sm="6">
      <app-personcard [data]="referred" [disabledClick]="true"></app-personcard>
    </ion-col>
  </ion-row>

  <ion-row class="ion-margin-top ion-no-padding">
    <ion-col size="12" class="ion-text-center" *ngIf="loadAdminData">
      <ion-row>
        <ion-col size-sm="6">
          <ion-button color="{{ !allSons ? 'primary' : 'light' }}" (click)="setAllSons()" expand="full">
            <ion-icon name="id-card-outline" slot="start"></ion-icon>
            <ion-text>Mis hijos</ion-text>
          </ion-button>
        </ion-col>
        <ion-col size-sm="6">
          <ion-button color="{{ allSons ? 'primary' : 'light' }}" (click)="setAllSons()" expand="full">
            <ion-icon name="people-outline" slot="start"></ion-icon>
            <ion-text>Todos</ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="12">
      <ion-row class="ion-align-items-center">
        <ion-col [size]="12"*ngIf="!allSons">
          <ion-row class="ion-align-items-center">
            <ion-col>
              <ion-text *ngIf="!allSons"><b>Mis hijos ({{ totals.own || 0 }})</b></ion-text>
            </ion-col>
            <ion-col size="auto" class="ion-align-items-center">
              <ion-button color="medium" (click)="goToAddNewMember()">
                <ion-icon name="add" slot="start"></ion-icon>
                <ion-text>Nuevo</ion-text>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="12" *ngIf="allSons">
          <ion-row class="ion-align-items-center">
            <ion-col>
              <ion-searchbar
                (ionChange)="searchInput($event)"
                placeholder="Buscar"
                showCancelButton="focus"
                [debounce]=[200]
                cancelable="true"
                class="toUpper"
              ></ion-searchbar>
            </ion-col>
            <ion-col size="auto" class="ion-align-items-center">
              <ion-button color="primary" (click)="goToAddNewMember()">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col [size]="12">
              <ion-text><b class="ion-margin-start">Todos ({{ totals.all || 0 }})</b></ion-text>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col *ngIf="!allSons">
      <ion-row *ngIf="totals.own > 0; else noReferrals">
        <ion-col class="ion-no-padding" size="12" size-sm="6" *ngFor='let referred of referrals'>
          <app-personcard
            [data]="referred"
            [removeButton]="true"
            [handleRemoveMembersFamily]="removeMembersFamily"
          ></app-personcard>
        </ion-col>
      </ion-row>

      <ng-template #noReferrals>
        <ion-row class="ion-no-padding">
          <ion-col size="12">
            <ion-card class="ion-no-padding ion-text-center">
              <ion-card-header>
                <ion-card-title><h4><ion-icon name="alert-circle-outline"></ion-icon> No tienes hijos espirituales.</h4></ion-card-title>
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-button class="" color="primary" slot="end" (click)="goToAddNewMember()">
                  <ion-icon name="person-add-outline" slot="start"></ion-icon>
                  <ion-text>Agregar nuevo</ion-text>
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ng-template>
    </ion-col>
    <ion-col *ngIf="allSons">
      <ion-row>
        <ion-col class="ion-no-padding" size="12" size-sm="6" *ngFor='let user of users'>
          <app-personcard [data]="user"></app-personcard>
        </ion-col>
      </ion-row>

      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="totals.all > 0">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Cargando ..."
        >
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-col>

    <ion-col size="12">
      <br>
      <br>
    </ion-col>
  </ion-row>

  <ion-fab class="ion-margin-end ion-margin-bottom" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="showVisits()">
      <ion-icon name="clipboard-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div>
    <br>
    <br>
    <br>
  </div>
</ion-content>
