<ion-card *ngIf="group">
  <ion-card-content>
    <ion-row>
      <ion-col size="5">
        <ion-text><b>Número:</b></ion-text>
      </ion-col>
      <ion-col size="7">
        <ion-text>{{group.number}}</ion-text>
      </ion-col>
      <ion-col size="5">
        <ion-text><b>Sector:</b></ion-text>
      </ion-col>
      <ion-col size="7">
        <ion-text>{{group.sector || 'No indicado.'}}</ion-text>
      </ion-col>
      <ion-col size="5">
        <ion-text><b>Sub-sector:</b></ion-text>
      </ion-col>
      <ion-col size="7">
        <ion-text>{{group.subSector || 'No indicado.'}}</ion-text>
      </ion-col>
      <ion-col size="5">
        <ion-text><b>Dirección</b></ion-text>
      </ion-col>
      <ion-col size="7">
        <ion-text>{{group.direction || 'No indicada.'}}</ion-text>
      </ion-col>
      <ion-col size="12" *ngIf="select">
        <ion-text><i>Toque para seleccionar</i></ion-text>
      </ion-col>
      <ion-col size="12" *ngIf="showData">
        <ion-text><i>Toque para ver los detalles</i></ion-text>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
