<ion-card
  class="ion-no-padding ion-no-margin ion-margin-start ion-margin-end ion-margin-bottom height-100"
  *ngIf="eventData._id"
  (click)="goToDetails(eventData._id)"
>
  <ion-card-content class="ion-no-margin ion-no-padding">
    <ion-row class="">
      <ion-col
        size="12"
        class="{{eventData.picture ? 'banner-event' : 'banner-event-no-picture'}}"
        [ngStyle]="{backgroundImage: 'url('+(eventData.picture || '/assets/icon/evento_lista.svg')+'), url(/assets/icon/evento_lista.svg)', height: '150px'}"
      >
      </ion-col>
      <ion-col size="12">
        <ion-text color="primary" class="ion-margin-top ion-margin-bottom">
          <h1>{{ eventData.title || '' }}</h1><br>
        </ion-text>
        <ion-text>
          <b>Fecha:</b> {{ eventData.date ? eventData.date : '' }}
        </ion-text>
        <br/>
        <ion-text class="ion-margin-top">
          <i class="toSmall">Toca para más información.</i>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
