<ion-content *ngIf="theme">
  <ion-header>
    <app-minheader title="{{ theme.title || 'Cargando ...' }}"></app-minheader>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="">Descripción</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div [innerHTML]="theme.description"></div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="theme.content && theme.content.length > 0">
    <ion-card-header>
      <ion-card-title>Contenido</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor='let content of theme.content; let i=index'>
        <!--<ion-item button (click)="goToClass(i)">-->
        <ion-item class="ion-no-padding ion-no-margin" button (click)="openClassModal(i)">
          <ion-avatar slot="start">
            <ion-img src="/assets/icon/{{content.view === 2 ? 'clase_video' : 'clase_video_gris'}}.svg" *ngIf="content.urlVideo"></ion-img>
            <ion-img src="/assets/icon/{{content.view === 2 ? 'clase_texto' : 'clase_texto_gris'}}.svg" *ngIf="!content.urlVideo"></ion-img>
          </ion-avatar>
          <ion-text><b>{{ content.title }}</b></ion-text>

          <ion-icon
            name="time-outline"
            slot="end"
            *ngIf="content.view === 0"
          ></ion-icon>
          <ion-icon
            name="eye-outline"
            slot="end"
            *ngIf="content.view === 1"
          ></ion-icon>
          <ion-icon
            name="checkmark-done-outline"
            slot="end"
            *ngIf="content.view === 2"
          ></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Examen</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="12">
          <ion-text *ngIf="theme.view !== 2">
            Complete el listado de contenidos del tema para poder presentar la prueba.
          </ion-text>
          <ion-button expand="block" color="primary" (click)="openTestModal()" *ngIf="theme.view === 2">
            Presentar exámen
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>

  </ion-card>
</ion-content>
