<ion-content *ngIf="theme">
  <ion-header>
    <app-minheader title="{{ theme.title || 'Cargando ...' }}"></app-minheader>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-row>
        <ion-col size="4" class="ion-no-padding ion-no-margin ion-justify-content-center">
          <ion-item (click)="showLikesOrComments('likes')">
            <ion-icon name="heart"></ion-icon>&nbsp;
            <ion-badge color="primary">{{ theme.likes.length }}</ion-badge>
          </ion-item>
        </ion-col>
        <ion-col size="4" class="ion-no-padding ion-no-margin ion-justify-content-center">
          <ion-item (click)="showLikesOrComments('unlikes')">
            <ion-icon name="heart-dislike"></ion-icon>&nbsp;
            <ion-badge color="secondary">{{ theme.unlikes.length }}</ion-badge>
          </ion-item>
        </ion-col>
        <ion-col size="4" class="ion-no-padding ion-no-margin ion-justify-content-center">
          <ion-item (click)="showLikesOrComments('comments')">
            <ion-icon name="text"></ion-icon>&nbsp;
            <ion-badge color="medium">{{ theme.comments.length }}</ion-badge>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-card-content *ngIf="theme.description">
      <div [innerHTML]="theme.description"></div>
    </ion-card-content>

    <ion-card-content>
      <ion-card-subtitle>Contenido</ion-card-subtitle>
      <ion-list *ngFor='let content of theme.content; let i=index'>
        <!--<ion-item button (click)="goToClass(i)">-->
        <ion-item button (click)="openClassModal(i)">
          <ion-icon name="{{ content.urlVideo ? 'videoCam' : 'document-text' }}" slot="start"></ion-icon>
          <ion-label>{{ content.title }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>

    <ion-card-content *ngIf="theme.view === 2">
      <ion-card-subtitle>Prueba</ion-card-subtitle>
      <ion-button expand="block" color="primary" (click)="openTestModal()">
        Presentar exámen
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
