<ion-content color="light">
  <ion-header>
    <app-minheader title="Estadística"></app-minheader>
  </ion-header>

  <ion-row *ngIf="adminRequest">
    <ion-col size="12" class="ion-padding-start ion-padding-end">
      <ion-text color="primary"><h3>Ver reporte:</h3></ion-text>
    </ion-col>
    <ion-col size="12" class="ion-text-center">
      <ion-row>
        <ion-col size-sm="6">
          <ion-button
            expand="full"
            color="{{ showPersonal ? 'primary' : 'light' }}"
            (click)="setPersonalReport(true)"
          >
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-text>Personal</ion-text>
          </ion-button>
        </ion-col>
        <ion-col size-sm="6">
          <ion-button
            expand="full"
            color="{{ showPersonal ? 'light' : 'primary' }}"
            (click)="setPersonalReport()"
          >
            <ion-icon name="bar-chart-outline" slot="start"></ion-icon>
            <ion-text>General</ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-col [size]="showPersonal ? 7 : 12" class="ion-padding-start ion-padding-end">
      <ion-text color="primary">
        <h4>{{showPersonal ? 'Mi reporte' : 'Reporte de grupos familiares'}}</h4>
      </ion-text>
    </ion-col>
    <ion-col [size]="showPersonal ? 7 : 12">
      <ion-button color="light" (click)="setShowFilter()" *ngIf="showPersonal">
        <ion-icon name="{{showFilter ? 'close' : 'filter'}}-outline" slot="start"></ion-icon>
        <ion-text>Filtrar</ion-text>
      </ion-button>
      <ion-row class="ion-text-center" *ngIf="!showPersonal">
        <ion-col size="6">
          <ion-button color="light" (click)="setShowFilter()">
            <ion-icon name="{{showFilterFg ? 'close' : 'filter'}}-outline" slot="start"></ion-icon>
            <ion-text>Filtrar</ion-text>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button color="light" (click)="showListTotality()">
            <ion-icon name="calculator-outline" slot="start"></ion-icon>
            <ion-text>{{ opts[totalityOpt] }}</ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="12" *ngIf="showFilter && showPersonal">
      <ion-card>
        <ion-card-content class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating" color="medium">A partir de:</ion-label>
                <ion-datetime
                  [(ngModel)]="queryParams.initDate"
                  displayFormat="DD/MM/YYYY"
                  [min]="minInitDate"
                  [max]="maxInitDate"
                  doneText="Listo"
                  cancelText="Cancelar"
                >
                </ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating" color="medium">Hasta:</ion-label>
                <ion-datetime
                  [(ngModel)]="queryParams.endDate"
                  displayFormat="DD/MM/YYYY"
                  [min]="minEndDate"
                  [max]="maxEndDate"
                  doneText="Listo"
                  cancelText="Cancelar"
                >
                </ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="ion-margin-top ion-text-center">
            <ion-col size="12" class="ion-justify-content-center">
              <ion-button class="ion-text-center" color="light" (click)="resetQueryParams()">
                <ion-icon name="trash-outline" slot="start"></ion-icon>
                <ion-text>Limpiar</ion-text>
              </ion-button>
              <ion-button class="ion-text-center" color="primary" (click)="findData()">
                <ion-icon name="checkmark-outline" slot="start"></ion-icon>
                <ion-text>Aplicar</ion-text>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12" *ngIf="showFilterFg && !showPersonal">
      <ion-card>
        <ion-card-content class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col size-sm="4">
              <ion-item>
                <ion-label position="floating" color="medium">Nº Sector</ion-label>
                <ion-input
                  [(ngModel)]="queryParamsFg.sector"
                  autocomplete="off"
                  maxlength="4"
                  (keypress)="validateOnlyNumber($event)"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size-sm="4">
              <ion-item>
                <ion-label position="floating" color="medium">Nº Sub-sector</ion-label>
                <ion-input
                  [(ngModel)]="queryParamsFg.subSector"
                  autocomplete="off"
                  maxlength="4"
                  (keypress)="validateOnlyNumber($event)"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size-sm="4">
              <ion-item>
                <ion-label position="floating" color="medium">Nº del grupo</ion-label>
                <ion-input
                  [(ngModel)]="queryParamsFg.number"
                  autocomplete="off"
                  maxlength="4"
                  (keypress)="validateOnlyNumber($event)"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-sm="6">
              <ion-item>
                <ion-label position="floating" color="medium">A partir de:</ion-label>
                <ion-datetime
                  [(ngModel)]="queryParamsFg.initDate"
                  displayFormat="DD/MM/YYYY"
                  [min]="minInitDate"
                  [max]="maxInitDate"
                  doneText="Listo"
                  cancelText="Cancelar"
                >
                </ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-sm="6">
              <ion-item>
                <ion-label position="floating" color="medium">Hasta:</ion-label>
                <ion-datetime
                  [(ngModel)]="queryParamsFg.endDate"
                  displayFormat="DD/MM/YYYY"
                  [min]="minEndDate"
                  [max]="maxEndDate"
                  doneText="Listo"
                  cancelText="Cancelar"
                >
                </ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="ion-margin-top ion-text-center">
            <ion-col size="12" class="ion-justify-content-center">
              <ion-button class="ion-text-center" color="light" (click)="resetQueryParams()">
                <ion-icon name="trash-outline" slot="start"></ion-icon>
                <ion-text>Limpiar</ion-text>
              </ion-button>
              <ion-button class="ion-text-center" color="primary" (click)="findDataFg()">
                <ion-icon name="checkmark-outline" slot="start"></ion-icon>
                <ion-text>Aplicar</ion-text>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <div class="w-100" *ngIf="showPersonal">
    <app-report-personal [data]="data" *ngIf="data; else noReportsPersonal"></app-report-personal>

    <ng-template #noReportsPersonal>
      <ion-row>
        <ion-col size="12">
          <ion-card class="ion-no-padding">
            <ion-text color="medium">
              <p class="ion-text-center">
                <ion-icon name="alert-circle-outline"></ion-icon> {{ showFilter ? 'No se encontraron resultados.' : 'No se logró obtener la información.' }}
              </p>
            </ion-text>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-template>
  </div>

  <div class="w-100" *ngIf="!showPersonal">
    <app-report-general [data]="data2Alt" *ngIf="data2Alt; else noReports"></app-report-general>

    <ng-template #noReports>
      <ion-row>
        <ion-col size="12">
          <ion-card class="ion-no-padding">
            <ion-text color="medium">
              <p class="ion-text-center">
                <ion-icon name="alert-circle-outline"></ion-icon> {{ showFilterFg ? 'No se encontraron resultados.' : 'No se logró obtener la información.' }}
              </p>
            </ion-text>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-template>
  </div>
</ion-content>
