<ion-content>
  <ion-header>
    <app-minheader title="Estadística"></app-minheader>
  </ion-header>

  <ion-row class="ion-no-padding">
    <ion-col size="12">
      <div class="ion-margin-bottom">
        <ion-button color="light" (click)="setShowFilter()">
          <ion-icon name="filter-outline" slot="start" *ngIf="!showFilter"></ion-icon>
          <ion-icon name="close-outline" slot="start" *ngIf="showFilter"></ion-icon>
          <ion-text>Filtrar</ion-text>
        </ion-button>
      </div>
    </ion-col>
    <ion-col size="12" *ngIf="showFilter">
      <ion-card>
        <ion-card-content class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating" color="medium">A partir de:</ion-label>
                <ion-datetime
                  [(ngModel)]="queryParams.initDate"
                  displayFormat="DD/MM/YYYY"
                  [min]="minInitDate"
                  [max]="maxInitDate"
                  doneText="Listo"
                  cancelText="Cancelar"
                >
                </ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating" color="medium">Hasta:</ion-label>
                <ion-datetime
                  [(ngModel)]="queryParams.endDate"
                  displayFormat="DD/MM/YYYY"
                  [min]="minEndDate"
                  [max]="maxEndDate"
                  doneText="Listo"
                  cancelText="Cancelar"
                >
                </ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="ion-margin-top ion-text-center">
            <ion-col size="12" class="ion-justify-content-center">
              <ion-button class="ion-text-center" color="light" (click)="resetQueryParams()">
                <ion-icon name="trash-outline"></ion-icon>
                <ion-text>Limpiar</ion-text>
              </ion-button>
              <ion-button class="ion-text-center" color="primary" (click)="findData()">
                <ion-icon name="checkmark-outline"></ion-icon>
                <ion-text>Aplicar</ion-text>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12" class="ion-margin-start ion-margin-end">
      <ion-text color="medium">
        <i>
          <ion-icon name="information-circle-outline"></ion-icon>
          Para mejor visualización de las gráficas, le recomendamos girar el dispositivo
          <ion-icon name="phone-portrait-outline"></ion-icon>
          <ion-icon name="phone-landscape-outline"></ion-icon>.
        </i>
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-margin-bottom ion-padding-bottom" *ngIf="data">
    <ion-col size="12" *ngIf="data.courses">
      <app-chart
        [data]="data.courses"
        title="Mis cursos"
        typeChart="bar"
      ></app-chart>
    </ion-col>
    <ion-col size="12" *ngIf="data.referrals">
      <app-chart
        [data]="data.referrals"
        title="Mis hijos espirituales"
        typeChart="pie"
      ></app-chart>
    </ion-col>
    <ion-col size="12" *ngIf="data.referrals">
      <app-chart
        [data]="data.visits"
        title="Visitas"
        typeChart="pie"
      ></app-chart>
    </ion-col>
  </ion-row>
</ion-content>
