<ion-header>
  <app-minheader title="Consolidados"></app-minheader>
</ion-header>

<ion-content color="light">
  <ion-row *ngIf="users">
    <ion-col>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-searchbar
            (ionChange)="searchInput($event)"
            placeholder="Buscar"
            showCancelButton="focus"
            [debounce]=[200]
            cancelable="true"
            class="toUpper"
          ></ion-searchbar>
        </ion-col>
        <ion-col size="auto" class="ion-align-items-center">
          <ion-button color="primary" (click)="goToAdd()">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col [size]="12">
          <ion-text><b class="ion-margin-start">Todos ({{ totals || 0 }})</b></ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-no-padding" size="12" size-sm="6" *ngFor='let user of users'>
          <app-personcard [data]="user"></app-personcard>
        </ion-col>
      </ion-row>

      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="totals > 0">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Cargando ..."
        >
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-col>
  </ion-row>

</ion-content>
