<ion-header>
  <app-minheader title="Detalles" *ngIf="!edit"></app-minheader>
  <app-minheader title="Editar devocional" [handleBack]="handleBack" *ngIf="edit"></app-minheader>
</ion-header>

<ion-content color="light">
  <div class="w-100" *ngIf="devotional && !edit">
    <div
      class="banner-devotional"
      [ngStyle]="{backgroundImage: 'url(' + devotional.picture + ')'}"
      *ngIf="devotional.picture"
    >
    </div>
    <div
      class="banner-devotional"
      [ngStyle]="{backgroundImage: 'url(assets/cruz.png)'}"
      *ngIf="!devotional.picture"
    >
    </div>
  </div>

  <ion-row *ngIf="devotional && !edit">
    <ion-col size="12" class="ion-no-margin ion-no-padding">
      <ion-card class="ion-no-padding">
        <ion-card-content>
          <ion-row class="ion-no-margin ion-no-padding">
            <ion-col size="12">
              <ion-text color="primary">
                <h1>{{devotional.title}}</h1>
              </ion-text>
              <br>
              <ion-card-subtitle>
                <span *ngIf="devotional.user">Por: {{devotional.user?.names}} {{devotional.user?.lastNames}}</span>
              </ion-card-subtitle>
            </ion-col>
            <ion-col size="12" *ngIf="devotional.urlVideo">
              <app-video-player [urlVideo]="devotional.urlVideo"></app-video-player>
            </ion-col>
            <ion-col size="12">
              <div [innerHTML]="devotional.description"></div>
            </ion-col>
            <ion-col size="12">
              <br>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12">
      <ion-row class="ion-align-items-center">
        <ion-col size="6" class="ion-text-center" *ngIf="showButtonAdmin">
          <ion-button color="danger" (click)="confirmDelete()">
            <ion-icon name="trash-outline" slot="start"></ion-icon>
            <ion-text>Borrar</ion-text>
          </ion-button>
        </ion-col>
        <ion-col size="6" class="ion-text-center" *ngIf="showButtonAdmin">
          <ion-button color="primary" (click)="handleEdit()">
            <ion-icon name="create-outline" slot="start"></ion-icon>
            <ion-text>Editar</ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="12" class="ion-text-center">
      <ion-button color="light" (click)="shareGeneric()">
        <ion-icon name="share-social-outline" slot="start"></ion-icon>
        <ion-text>Compartir</ion-text>
      </ion-button>
    </ion-col>
    <ion-col class="ion-margin-bottom"></ion-col>
  </ion-row>

  <app-devocionales-form
   [data]="devotional"
   [handleSave]="handleUpdate"
   [handleCancel]="goBack"
   *ngIf="edit"
  ></app-devocionales-form>

</ion-content>
