<ion-content color="light">
  <ion-header>
    <app-minheader title="Detalles"></app-minheader>
  </ion-header>

  <ion-row *ngIf="devotional">
    <ion-col size="12" class="ion-no-margin ion-no-padding">
      <ion-card>
        <div
          class="banner-devotional"
          [ngStyle]="{backgroundImage: 'url(' + devotional.picture + ')', height: '250px'}"
          *ngIf="devotional.picture"
        >
        </div>
        <div
          class="banner-devotional"
          [ngStyle]="{backgroundImage: 'url(assets/cruz.png)', height: '250px'}"
          *ngIf="!devotional.picture"
        >
        </div>
        <ion-card-content>
          <ion-row class="ion-no-margin ion-no-padding">
            <ion-col size="12">
              <ion-text color="primary">
                <h1>{{devotional.title}}</h1>
              </ion-text>
              <br>
              <ion-card-subtitle>
                <span *ngIf="devotional.user">Por: {{devotional.user?.names}} {{devotional.user?.lastNames}}</span>
                <span><br>Fecha: {{devotional.created_at}}</span>
              </ion-card-subtitle>
            </ion-col>
            <ion-col size="12" *ngIf="devotional.urlVideo">
              <app-video-player [urlVideo]="devotional.urlVideo"></app-video-player>
            </ion-col>
            <ion-col size="12">
              <div [innerHTML]="devotional.description"></div>
            </ion-col>
            <ion-col size="12">
              <br>
            </ion-col>
            <ion-col size="12" class="ion-text-center">
              <ion-button color="primary" (click)="goBack()">
                <ion-icon name="close-outline" slot="start"></ion-icon>
                <ion-text>Cerrar</ion-text>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
