<ion-card class="ion-no-padding ion-no-margin ion-margin-start ion-margin-end ion-margin-bottom" *ngIf="eventData._id" (click)="showEvent()">
  <ion-card-content class="ion-no-margin ion-no-padding">
    <ion-row>
      <ion-col size="3">
        <ion-img class="pictureIcon" [src]="'/assets/icon/evento_lista.svg'"></ion-img>
      </ion-col>
      <ion-col size="9">
        <ion-text color="primary" class="ion-margin-top ion-margin-bottom"><h3>{{ eventData.title ? eventData.title : '' }}</h3></ion-text>
        <ion-text><b>Fecha:</b> {{ eventData.date ? eventData.date : '' }}</ion-text><br/>
        <ion-text class="ion-margin-top"><i class="toSmall">Toca para más información.</i></ion-text>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
