<ion-header>
  <app-minheader title="Cambiar contraseña" [modal]="true"></app-minheader>
</ion-header>

<ion-content color="light">
  <ion-card>
    <ion-card-content>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <ion-text><i>La nueva contraseña debe contener al menos 6 caracteres entre letras (A-Z, a-z), números (0-9) y caracteres especiales (¿?¡!=)(/&%$#,.-+*).</i></ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="medium">Contaseña actual (*)</ion-label>
            <ion-input [(ngModel)]="formData.password" type="password"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="medium">Nueva contraseña (*)</ion-label>
            <ion-input [(ngModel)]="formData.newPassword" type="password"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="medium">Rep. nueva contraseña (*)</ion-label>
            <ion-input [(ngModel)]="formData.repPassword" type="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-top ion-margin-bottom">
        <ion-col size="12" class="ion-text-center">
          <ion-button color="light" (click)="closeModal()">
            <ion-icon name="close" slot="start"></ion-icon>
            Cancelar
          </ion-button>
          <ion-button color="primary" (click)="confirmUpdate()">
            <ion-icon name="save-outline" slot="start"></ion-icon>
            Cambiar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
