<ion-content>
  <ion-header>
    <app-minheader title="Cambiar contraseña" [modal]="true"></app-minheader>
  </ion-header>


  <ion-card>
    <ion-card-content>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <ion-text><i>La nueva contraseña debe set de al menos 6 caracteres y contener tener letras (A-Z, a-z) y números (0-9).</i></ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="medium">Contaseña actual *</ion-label>
            <ion-input [(ngModel)]="formData.password" type="password"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="medium">Nueva contraseña *</ion-label>
            <ion-input [(ngModel)]="formData.newPassword" type="password"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="medium">Rep. nueva contraseña *</ion-label>
            <ion-input [(ngModel)]="formData.repPassword" type="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-top ion-margin-bottom">
        <ion-col size="6">
          <ion-button expand="block" color="light" (click)="closeModal()">
            Cancelar
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="primary" (click)="confirmUpdate()">
            Cambiar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
