<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="light" (click)="closeModal()">
          <ion-icon name="close" color="dark"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-text>
        <ion-icon name="{{iconModal}}"></ion-icon>&nbsp;
        {{ titleModal }} ({{ personsList.length }})
      </ion-text>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="personsList.length > 0; else noRecords">
    <ion-list *ngFor='let person of personsList'>
      <app-personcardtwo [data]="person"></app-personcardtwo>
    </ion-list>
  </div>

  <ng-template #noRecords>
    <ion-row class="ion-align-self-center">
      <ion-col class="ion-text-center">
        <ion-avatar>
          <ion-img class="pictureIcon" [src]="'/assets/icon/avatar.svg'"></ion-img>
        </ion-avatar>
        <ion-text>
          <p>Nada que mostrar.</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ng-template>
</ion-content>
