
<ion-row *ngIf="member">
  <ion-col size="12" size-sm="6" class="ion-no-margin ion-no-padding">
    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col size="12" class="ion-text-center">
        <div>
          <img
            [src]="member.picture"
            height="120"
            class="img-rounded"
            *ngIf="member.picture"
          >
          <img
            src="assets/icon/{{member.gender === 1 ? 'mujer_lista' : 'hombre_lista'}}.svg"
            height="120"
            class="img-rounded"
            *ngIf="!member.picture"
          >
        </div>
        <div *ngIf="picButtons">
          <ion-button size="small" (click)="!!handleChangePhoto ? handleChangePhoto() : null">
            <ion-icon name="image-outline" slot="start"></ion-icon>
            <ion-text>Cambiar</ion-text>
          </ion-button>
          <ion-button
            color="danger"
            size="small"
            (click)="!!handleDeletePic ? handleDeletePic() : null"
            *ngIf="member.picture"
          >
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
      <ion-col size="12">
        <ion-row class="ion-no-margin ion-no-padding">
          <ion-col size="5">
            <ion-text><b>Nombre(s):</b></ion-text>
          </ion-col>
          <ion-col size="7">
            <ion-text>{{member.names || 'No indicado'}}</ion-text>
          </ion-col>
          <ion-col size="5">
            <ion-text><b>Apellido(s):</b></ion-text>
          </ion-col>
          <ion-col size="7">
            <ion-text>{{member.lastNames || 'No indicado'}}</ion-text>
          </ion-col>
          <ion-col size="5" *ngIf="showDocument">
            <ion-text><b>Documento:</b></ion-text>
          </ion-col>
          <ion-col size="7" *ngIf="showDocument">
            <ion-text>{{member.document || 'No indicado'}}</ion-text>
          </ion-col>
          <ion-col size="5">
            <ion-text><b>Teléfono:</b></ion-text>
          </ion-col>
          <ion-col size="7">
            <ion-text>{{member.phone || 'No indicado'}}</ion-text>
          </ion-col>
          <ion-col size="5" *ngIf="!!member.roles">
            <ion-text><b>Roles:</b></ion-text>
          </ion-col>
          <ion-col size="7" *ngIf="!!member.roles">
            <ion-text>{{getRoleValue()}}</ion-text>
          </ion-col>
          <ion-col size="5">
            <ion-text><b>Cargo(s) o posición:</b></ion-text>
          </ion-col>
          <ion-col size="7">
            <ion-text>{{member.position || 'No indicado'}}</ion-text>
          </ion-col>
          <ion-col size="5">
            <ion-text><b>Correo electrónico:</b></ion-text>
          </ion-col>
          <ion-col size="7">
            <ion-text>{{member.email || 'No indicado'}}</ion-text>
          </ion-col>
          <ion-col size="5">
            <ion-text><b>Fecha de nac.:</b></ion-text>
          </ion-col>
          <ion-col size="7">
            <ion-text>{{member.birthday || 'No indicado'}}</ion-text>
          </ion-col>
          <ion-col size="5">
            <ion-text><b>Sexo:</b></ion-text>
          </ion-col>
          <ion-col size="7">
            <ion-text>{{member.gender || 'No indicado'}}</ion-text>
          </ion-col>
          <ion-col size="5">
            <ion-text><b>Estado civil:</b></ion-text>
          </ion-col>
          <ion-col size="7">
            <ion-text>{{member.civilStatus || 'No indicado'}}</ion-text>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-col>
  <ion-col size="12" size-sm="6" class="ion-no-margin">
    <ion-row>
      <ion-col size="5">
        <ion-text><b>Nivel educativo:</b></ion-text>
      </ion-col>
      <ion-col size="7">
        <ion-text>{{member.educationLevel || 'No indicado'}}</ion-text>
      </ion-col>
      <ion-col size="5">
        <ion-text><b>Profesión:</b></ion-text>
      </ion-col>
      <ion-col size="7">
        <ion-text>{{member.profession || 'No indicado'}}</ion-text>
      </ion-col>
      <ion-col size="5">
        <ion-text><b>Tipo de sangre:</b></ion-text>
      </ion-col>
      <ion-col size="7">
        <ion-text>{{member.bloodType || 'No indicado'}}</ion-text>
      </ion-col>
      <ion-col size="5">
        <ion-text><b>Empresa:</b></ion-text>
      </ion-col>
      <ion-col size="7">
        <ion-text>{{member.company ? 'Si' : 'No'}}</ion-text>
      </ion-col>
      <ion-col size="5" *ngIf="member.company">
        <ion-text><b>Tipo de empresa:</b></ion-text>
      </ion-col>
      <ion-col size="7" *ngIf="member.company">
        <ion-text>{{member.companyType}}</ion-text>
      </ion-col>
      <ion-col size="5">
        <ion-text><b>Bautizado:</b></ion-text>
      </ion-col>
      <ion-col size="7">
        <ion-text>{{member.baptized ? 'Si' : 'No'}}</ion-text>
      </ion-col>
      <ion-col size="5">
        <ion-text><b>Asistí al curso de nuevos:</b></ion-text>
      </ion-col>
      <ion-col size="7">
        <ion-text>{{member.meetingNew ? 'Si' : 'No'}}</ion-text>
      </ion-col>
      <ion-col size="5">
        <ion-text><b>Departamento:</b></ion-text>
      </ion-col>
      <ion-col size="7">
        <ion-text>{{ member.department || 'No indicado'}}</ion-text>
      </ion-col>
      <ion-col size="5">
        <ion-text><b>Cuidad:</b></ion-text>
      </ion-col>
      <ion-col size="7">
        <ion-text>{{ member.city || 'No indicado'}}</ion-text>
      </ion-col>
      <ion-col size="5">
        <ion-text><b>Barrio:</b></ion-text>
      </ion-col>
      <ion-col size="7">
        <ion-text>{{member.locality || 'No indicado'}}</ion-text>
      </ion-col>
      <ion-col size="5">
        <ion-text><b>Dirección:</b></ion-text>
      </ion-col>
      <ion-col size="7">
        <ion-text>{{member.direction || 'No indicado'}}</ion-text>
      </ion-col>
      <ion-col size="5" *ngIf="member.petition">
        <ion-text><b>Mi petición:</b></ion-text>
      </ion-col>
      <ion-col size="7" *ngIf="member.petition">
        <ion-text>{{member.petition || 'No indicado'}}</ion-text>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
