<ion-row *ngIf="member">
  <ion-col size="12" size-sm="6" class="ion-no-margin ion-no-padding">
    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col size="12" class="ion-text-center">
        <div
          class="img-profile"
          [ngStyle]="{'background-image': 'url('+member.picture+'), url(assets/icon/'+ (member.gender === 1 ? 'mujer_lista' : 'hombre_lista') + '.svg)'}"
          *ngIf="member.picture"
        >
        </div>
        <div
          class="img-profile"
          [ngStyle]="{'background-image': 'url(assets/icon/'+ (member.gender === 1 ? 'mujer_lista' : 'hombre_lista') + '.svg)'}"
          *ngIf="!member.picture"
        ></div>
        <div *ngIf="picButtons">
          <ion-button size="small" (click)="!!handleChangePhoto ? handleChangePhoto() : null">
            <ion-icon name="image-outline" slot="start"></ion-icon>
            <ion-text>Cambiar</ion-text>
          </ion-button>
          <ion-button
            color="danger"
            size="small"
            (click)="!!handleDeletePic ? handleDeletePic() : null"
            *ngIf="member.picture"
          >
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
      <ion-col size="12" class="ion-padding-top">
        <ion-row class="ion-no-margin ion-no-padding">
          <ion-col size="12" class="ion-no-margin ion-no-padding">
            <app-elem-item label="Nombre(s)" value="{{member.names || 'No indicado'}}"></app-elem-item>
            <app-elem-item label="Apellido(s)" value="{{member.lastNames || 'No indicado'}}"></app-elem-item>
            <app-elem-item label="Documento" value="{{member.document || 'No indicado'}}" [show]="showDocument"></app-elem-item>
            <app-elem-item label="Teléfono" value="{{member.phone || 'No indicado'}}"></app-elem-item>
            <app-elem-item label="Roles" value="{{getRoleValue()}}" [show]="!!member.roles"></app-elem-item>
            <app-elem-item label="Cargo(s) o posición" value="{{member.position || 'No indicado'}}"></app-elem-item>
            <app-elem-item label="Correo elect." value="{{member.email || 'No indicado'}}"></app-elem-item>
            <app-elem-item label="Fecha de nac." value="{{member.birthday || 'No indicado'}}"></app-elem-item>
            <app-elem-item label="Sexo" value="{{member.gender || 'No indicado'}}"></app-elem-item>
            <app-elem-item label="Estado civil" value="{{member.civilStatus || 'No indicado'}}"></app-elem-item>
            <app-elem-item label="Sexo" value="{{member.names || 'No indicado'}}"></app-elem-item>
            <app-elem-item label="Iglesia" value="{{member.church || 'No indicado'}}"></app-elem-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-col>
  <ion-col size="12" size-sm="6" class="ion-no-margin">
    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col size="12" class="ion-no-margin ion-no-padding">
        <app-elem-item label="Nivel educativo" value="{{member.educationLevel || 'No indicado'}}"></app-elem-item>
        <app-elem-item label="Profesión" value="{{member.profession || 'No indicado'}}"></app-elem-item>
        <app-elem-item label="Tipo de sangre" value="{{member.bloodType || 'No indicado'}}"></app-elem-item>
        <app-elem-item label="Empresa" value="{{member.company ? 'Si' : 'No'}}"></app-elem-item>
        <app-elem-item label="Tipo de empresa" value="{{member.educationLevel || 'No indicado'}}" [show]="member.company">
        </app-elem-item>
        <app-elem-item label="Bautizado" value="{{member.baptized ? 'Si' : 'No'}}"></app-elem-item>
        <app-elem-item label="Asistí al curso de nuevos" value="{{member.meetingNew ? 'Si' : 'No'}}"></app-elem-item>
        <app-elem-item label="Departamento" value="{{ member.department || 'No indicado'}}"></app-elem-item>
        <app-elem-item label="Cuidad" value="{{ member.city || 'No indicado'}}"></app-elem-item>
        <app-elem-item label="Barrio" value="{{member.locality || 'No indicado'}}"></app-elem-item>
        <app-elem-item label="Dirección" value="{{member.direction || 'No indicado'}}"></app-elem-item>
        <app-elem-item label="Mi petición" value="{{member.petition || 'No indicado'}}" [show]="member.petition"></app-elem-item>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
