<ion-content color="light">
  <ion-header>
    <app-minheader title="Perfil"></app-minheader>
  </ion-header>

  <div *ngIf="userData; else loadingData">
    <ion-card>
      <ion-card-header class="ion-no-padding" color="primary">
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-button (click)="setShowView()">
              <ion-icon name="chevron-{{showInfo ? 'up' : 'down' }}-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>Mis datos</ion-title>
        </ion-toolbar>
      </ion-card-header>
      <ion-card-content class="{{showInfo ? '' : 'ion-hide'}}">
        <ion-row class="ion-margin-top {{showEditPic ? 'ion-hide' : '' }}" *ngIf="userData">
          <ion-col size="12" class="ion-no-padding ion-no-margin">
            <app-resume-profile
              [member]="userData"
              [picButtons]="true"
              [showDocument]="true"
              [handleChangePhoto]="changePhoto"
              [handleDeletePic]="removePhoto"
            >
            </app-resume-profile>
          </ion-col>
        </ion-row>

        <ion-row class="{{showEditPic ? '' : 'ion-hide' }}" *ngIf="userData">
          <ion-col size="12">
            <ion-row class="ion-margin-top" *ngIf="formPic">
              <ion-col size="12" size-sm="6" class="text-center">
                <ion-row class="ion-justify-content-center ion-margin">
                  <ion-col size="12" class="ion-text-center">
                    <div
                      class="banner-event"
                      [ngStyle]="{backgroundImage: 'url('+userData.picture+')', height: '200px'}"
                      *ngIf="userData.picture"
                    ></div>
                    <img
                      src="assets/icon/{{userData.gender === 1 ? 'mujer_lista' : 'hombre_lista'}}.svg"
                      height="150"
                      *ngIf="!userData.picture"
                    >
                  </ion-col>
                  <ion-col size="12" class="ion-text-center">
                    <ion-text><i class="toSmall">Foto actual</i></ion-text>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="12" size-sm="6">
                <ion-row class="ion-justify-content-center ion-margin">
                  <ion-col size="12" class="ion-text-center">
                    <label class="micursor ion-text-center w-100">
                      <input type='file' accept="image/x-png,image/gif,image/jpeg" (change)='openFile($event)' hidden>
                      <div
                        class="banner-event"
                        [ngStyle]="{backgroundImage: 'url('+formPic.picture+')', height: '200px'}"
                        *ngIf="formPic.picture"
                      ></div>
                      <img src="assets/photo.png" height="150" *ngIf="!formPic.picture">
                    </label>
                  </ion-col>
                  <ion-col size="12" class="ion-text-center">
                    <ion-text><i class="toSmall">Clic para cargar la nueva foto de perfil</i></ion-text>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="12" size-sm="12" class="ion-margin-top">
                <ion-text color="medium"><i class="toSmall">(*) Campos requeridos.</i></ion-text>
              </ion-col>
              <ion-col size="12" size-sm="12" class="ion-margin-top ion-margin-bottom ion-text-center">
                <ion-button color="medium" (click)="editPicEnable()">
                  <ion-icon name="close-outline" slot="start"></ion-icon>
                  <ion-text>Cancelar</ion-text>
                </ion-button>
                <ion-button color="primary" (click)="confirmUpdatePicture()">
                  <ion-icon name="save-outline" slot="start"></ion-icon>
                  <ion-text>Guardar</ion-text>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <div class="{{showEditPic ? 'ion-hide' : '' }}">
      <app-resume-hijos-educacion
        [coursesData]="courses"
        [groupData]="group"
        [showGroup]="true"
      >
      </app-resume-hijos-educacion>
    </div>
  </div>

  <ng-template #loadingData>
    <ion-card>
      <ion-card-content class="ion-margin-top ion-margin-bottom">
        <ion-text><p class="ion-text-center">Cargando ...</p></ion-text>
      </ion-card-content>
    </ion-card>
  </ng-template>

  <div class="ion-margin-top ion-margin-bottom"><br></div>

  <ion-fab class="ion-margin-end ion-margin-bottom" vertical="bottom" horizontal="end" slot="fixed" *ngIf="userData">
    <ion-fab-button color="primary">
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" (click)='goToEdit()'><ion-icon name="person-outline"></ion-icon></ion-fab-button>
      <ion-fab-button color="light" (click)="openChangePasswordModal()"><ion-icon name="lock-closed-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

