<ion-content>
  <ion-header>
    <app-minheader title="Perfil"></app-minheader>
  </ion-header>

  <div *ngIf="userData; else loadingData">

    <ion-card>
      <ion-card-header class="ion-no-padding" color="primary">
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-button (click)="setShowView('info')">
              <ion-icon name="chevron-{{views.info.show ? 'up' : 'down' }}-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>{{ views.info.title }}</ion-title>
        </ion-toolbar>
      </ion-card-header>
      <ion-card-content class="{{views.info.show ? '' : 'ion-hide'}}">
        <ion-row class="ion-margin-top" *ngIf="views.info.data">
          <ion-col size="5">
            <ion-text><b>Nombre(s):</b></ion-text>
          </ion-col>
          <ion-col size="7">
            <ion-text>{{views.info.data.names || 'No indicado'}}</ion-text>
          </ion-col>
          <ion-col size="5">
            <ion-text><b>Apellido(s):</b></ion-text>
          </ion-col>
          <ion-col size="7">
            <ion-text>{{views.info.data.lastNames || 'No indicado'}}</ion-text>
          </ion-col>
          <ion-col size="5">
            <ion-text><b>Correo electrónico:</b></ion-text>
          </ion-col>
          <ion-col size="7">
            <ion-text>{{views.info.data.email || 'No indicado'}}</ion-text>
          </ion-col>
          <ion-col size="5">
            <ion-text><b>Teléfono:</b></ion-text>
          </ion-col>
          <ion-col size="7">
            <ion-text>{{views.info.data.phone || 'No indicado'}}</ion-text>
          </ion-col>
          <ion-col size="5">
            <ion-text><b>Fecha de nac.:</b></ion-text>
          </ion-col>
          <ion-col size="7">
            <ion-text>{{views.info.data.birthday || 'No indicado'}}</ion-text>
          </ion-col>
          <ion-col size="5">
            <ion-text><b>Sexo:</b></ion-text>
          </ion-col>
          <ion-col size="7">
            <ion-text>{{views.info.data.gender || 'No indicado'}}</ion-text>
          </ion-col>
          <ion-col size="5">
            <ion-text><b>Estado civil:</b></ion-text>
          </ion-col>
          <ion-col size="7">
            <ion-text>{{views.info.data.civilStatus || 'No indicado'}}</ion-text>
          </ion-col>
          <ion-col size="5">
            <ion-text><b>Nivel educativo:</b></ion-text>
          </ion-col>
          <ion-col size="7">
            <ion-text>{{views.info.data.educationLevel || 'No indicado'}}</ion-text>
          </ion-col>
          <ion-col size="5">
            <ion-text><b>Profesión:</b></ion-text>
          </ion-col>
          <ion-col size="7">
            <ion-text>{{views.info.data.profession || 'No indicado'}}</ion-text>
          </ion-col>
          <ion-col size="5">
            <ion-text><b>Tipo de sangre:</b></ion-text>
          </ion-col>
          <ion-col size="7">
            <ion-text>{{views.info.data.bloodType || 'No indicado'}}</ion-text>
          </ion-col>
          <ion-col size="5">
            <ion-text><b>Empresa:</b></ion-text>
          </ion-col>
          <ion-col size="7">
            <ion-text>{{views.info.data.company ? 'Si' : 'No'}}</ion-text>
          </ion-col>
          <ion-col size="5" *ngIf="views.info.data.company">
            <ion-text><b>Tipo de empresa:</b></ion-text>
          </ion-col>
          <ion-col size="7" *ngIf="views.info.data.company">
            <ion-text>{{views.info.data.companyType}}</ion-text>
          </ion-col>
          <ion-col size="5">
            <ion-text><b>Bautizado:</b></ion-text>
          </ion-col>
          <ion-col size="7">
            <ion-text>{{views.info.data.baptized ? 'Si' : 'No'}}</ion-text>
          </ion-col>
          <ion-col size="5">
            <ion-text><b>Departamento:</b></ion-text>
          </ion-col>
          <ion-col size="7">
            <ion-text>{{ views.info.data.department || 'No indicado'}}</ion-text>
          </ion-col>
          <ion-col size="5">
            <ion-text><b>Cuidad:</b></ion-text>
          </ion-col>
          <ion-col size="7">
            <ion-text>{{ views.info.data.city || 'No indicado'}}</ion-text>
          </ion-col>
          <ion-col size="5">
            <ion-text><b>Barrio:</b></ion-text>
          </ion-col>
          <ion-col size="7">
            <ion-text>{{views.info.data.locality || 'No indicado'}}</ion-text>
          </ion-col>
          <ion-col size="5">
            <ion-text><b>Dirección:</b></ion-text>
          </ion-col>
          <ion-col size="7">
            <ion-text>{{views.info.data.direction || 'No indicado'}}</ion-text>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-row class="ion-margin-top ion-padding">
      <ion-col size="6" class="ion-no-padding">
        <ion-button
          expand="block"
          color="{{views.group.show ? 'primary' : 'light'}}"
          (click)="setShowGroup(true)"
        >
          Núcleo familiar
        </ion-button>
      </ion-col>
      <ion-col size="6" class="ion-no-padding">
        <ion-button
          expand="block"
          color="{{views.courses.show ? 'primary' : 'light'}}"
          (click)="setShowGroup()"
        >
          Educación
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-card class="{{views.group.show ? '' : 'ion-hide'}} ion-padding-bottom ion-margin-bottom" *ngIf="views.group.data; else noGroup">
      <ion-card-header class="ion-no-padding ion-margin-top ion-margin-start ion-margin-end">
        <ion-row class="ion-margin-top" *ngIf="views.group.data; else noGroup">
          <ion-col size="9">
            <ion-text class="toSmall">Nombre del grupo</ion-text><br/>
            <ion-text><span class="titles">{{views.group.data.name || 'No indicado'}}</span></ion-text>
          </ion-col>
          <ion-col size="3">
            <ion-text class="toSmall">Miembros</ion-text><br/>
            <ion-text><span class="titles">{{ views.group.data.members ? views.group.data.members.length : 0 }}</span></ion-text>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content class="ion-margin-top ion-no-padding">
        <ion-row class="ion-margin-top" *ngIf="views.group.data; else noGroup">
          <ion-col class="ion-no-margin ion-no-padding" size="12">
            <app-personcard *ngFor='let member of views.group.data.members' [data]="member" getGroup="true"></app-personcard>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ng-template #noGroup>
      <div class="{{ views.group.show ? 'ion-margin-bottom ion-padding-bottom' : '' }}">
        <ion-card class="{{views.group.show ? '' : 'ion-hide'}}">
          <ion-card-content>
            <ion-text class="ion-text-center" color="medium">
              <p><ion-icon name="alert-circle-outline"></ion-icon> No pertenece a ningún grupo familiar.</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </div>
    </ng-template>

    <div class="{{views.courses.show ? '' : 'ion-hide'}} ion-margin-bottom ion-padding-bottom">
      <ion-row class="ion-no-padding ion-justify-content-center ion-margin-bottom" *ngIf="views.courses.data && views.courses.data.length > 0; else noCourses">

        <ion-col *ngFor="let course of views.courses.data" class="ion-text-center ion-margin-bottom" size="4">
          <img src="assets/icon/level-{{course.level}}{{course.approved ? '' : '-gray'}}.svg" class="icon-courses">
        </ion-col>

        <!--<ion-col class="ion-no-margin ion-no-padding" size="12">-->
          <!--<app-coursecard *ngFor='let course of views.courses.data' [data]="course"></app-coursecard>-->
        <!--</ion-col>-->
      </ion-row>
      <ng-template #noCourses>
        <ion-card>
          <ion-card-content>
            <ion-text class="ion-text-center" color="medium">
              <p><ion-icon name="alert-circle-outline"></ion-icon> No posee ningún curso en su perfil.</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ng-template>
    </div>
  </div>

  <ng-template #loadingData>
    <ion-card>
      <ion-card-content class="ion-margin-top ion-margin-bottom">
        <ion-text><p class="ion-text-center">Cargando ...</p></ion-text>
      </ion-card-content>
    </ion-card>
  </ng-template>

  <div class="ion-margin-top ion-margin-bottom"><br></div>

  <ion-fab class="ion-margin-end ion-margin-bottom" vertical="bottom" horizontal="end" slot="fixed" *ngIf="userData">
    <ion-fab-button color="primary">
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" (click)='goToEdit()'><ion-icon name="person-outline"></ion-icon></ion-fab-button>
      <ion-fab-button color="light" (click)="openChangePasswordModal()"><ion-icon name="lock-closed-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

