<ion-card
  *ngIf="member"
  (click)="member._id && showButton ? goToDetails(member._id) : null"
>
  <ion-card-content class="ion-margin-top ion-no-padding">
    <ion-row>
      <ion-col size="3" class="ion-text-center">
        <img
          [src]="member.picture"
          height="65"
          class="img-rounded"
          *ngIf="member.picture"
        >
        <img
          src="/assets/icon/{{member.gender === 1 ? 'mujer' : 'hombre'}}_lista.svg"
          height="65"
          class="img-rounded"
          *ngIf="!member.picture"
        >
      </ion-col>
      <ion-col size="9">
        <b>{{ member.names || '' }} {{ member.lastNames || '' }}</b>
        <br/>
        <ion-text>
          <ion-icon name="call-outline"></ion-icon>
          {{ member.phone || 'No indicado.' }}<br>
        </ion-text>
        <ion-text *ngIf="member.totalsReferrals !== undefined">
          <ion-icon name="people-outline"></ion-icon>
          {{ member.totalsReferrals || 0 }} Hijo(s) Espirituales.<br>
        </ion-text>
        <ion-text class="ion-margin-top"><i class="toSmall">{{showButton ? 'Toca para más información.' : '&nbsp;'}}</i></ion-text>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
