.container-map {
  position: relative;
  width: 100% !important;
  height: 100% !important;
}

.map-container {
  position: absolute;
  width: 100% !important;
}


.mapboxgl-popup {
  max-width: 640px;
  font-size: 1rem/2rem;
}

.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}
