<ion-header class="sticky-menu {{churchSelected !== -1 || sectorSelected ? 'ion-hide' : ''}}">
  <app-minheader title="Grupos familiares" *ngIf="showGroups"></app-minheader>
  <app-minheader title="Organización" *ngIf="!showGroups"></app-minheader>
</ion-header>

<ion-content color="light">
  <ion-row class="{{ !showGroups ? '' : 'ion-hide' }} ion-no-padding">

    <ion-col size="12" *ngIf="churchSelected === -1">
      <ion-row>
        <ion-col [size]="12" *ngIf="organization?.length > 0">
          <app-iglesia-card
            *ngFor="let d of organization; let i = index;"
            [data]="d.church"
            [index]="i"
            [enableClick]="true"
            [handleClick]="handleClickChurch"
          ></app-iglesia-card>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="12" class="ion-no-padding" *ngIf="churchSelected !== -1">

      <ion-row>
        <ion-col size="12" class="position-sticky {{!viewSelected ? '' : 'ion-hide'}}">
          <app-barra-seccion
            label="Detalles de la iglesia"
            index="-1"
            [handleClick2]="handleClickChurch"
          ></app-barra-seccion>
        </ion-col>
        <ion-col size="12" class="{{!viewSelected ? '' : 'ion-hide'}}">
          <app-iglesia-card
            [data]="organization[churchSelected].church"
            [extendData]="true"
          ></app-iglesia-card>
        </ion-col>
        <ion-col size="12" class="ion-margin-start {{!viewSelected ? '' : 'ion-hide'}}">
          <ion-text color="primary"><h4>Estructura de la organización</h4></ion-text>
        </ion-col>
        <ion-col size="12" class="{{!viewSelected ? '' : 'ion-hide'}}">
          <ion-list>
            <ion-item button *ngFor="let opt of optsOrganization" (click)="setViewOrganization(opt)" mode="md">
              <ion-thumbnail slot="start">
                <img src="/assets/icon/{{opt.icon}}.svg" height="120" class="img-bordered">
              </ion-thumbnail>
              <ion-label>
                <h3>
                  <b>{{opt.label}} ({{counters[opt.key]}})</b>
                </h3>
              </ion-label>
              <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="12" *ngIf="viewSelected" class="ion-no-margin ion-no-padding">
          <ion-row>
            <ion-col size="12" class="position-sticky">
              <app-barra-seccion
                label="{{viewSelected.label}} ({{counters[viewSelected.key]}})"
                [handleClick1]="handleClickOrganization"
              ></app-barra-seccion>
            </ion-col>
            <ion-col size="12">
              <ion-list>
                <ion-item *ngFor="let item of viewSelected.list">
                  <ion-thumbnail slot="start">
                    <img src="{{item.picture}}" height="120" class="img-rounded">
                  </ion-thumbnail>
                  <ion-label>
                    <h3>
                      <b>{{item.fullname}}</b>
                    </h3>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <!-- Grupos familiares -->
  <ion-row class="{{ showGroups ? '' : 'ion-hide' }} ion-align-items-center">
    <ion-col class="ion-no-margin ion-no-padding">
      <ion-row>
        <ion-col size="12" class="{{ !showGroupData && sectorSelected && !subSectorSelected ? '' : 'ion-hide' }} position-sticky">
          <app-barra-seccion
            label="Sector #{{sectorSelected || '0000'}} ({{subSectors?.length || 0}})"
            [handleClick1]="handleClickAction1"
          ></app-barra-seccion>
        </ion-col>
        <ion-col size="12" class="{{ !showGroupData && sectorSelected && subSectorSelected ? '' : 'ion-hide' }} position-sticky">
          <app-barra-seccion
            label="S # {{sectorSelected || '0000'}} SS # {{subSectorSelected || '0000'}} ({{subSectorsGroups?.length || 0}})"
            [handleClick1]="handleClickAction2"
          ></app-barra-seccion>
        </ion-col>
        <ion-col size="12" class="{{ showGroupData ? '' : 'ion-hide' }} position-sticky">
          <app-barra-seccion
            label="Detalles del grupo"
            [handleClick1]="handleClickAction3"
          ></app-barra-seccion>
        </ion-col>
        <ion-col size="12" class="ion-margin-start {{!showGroupData && !sectorSelected && !subSectorSelected ? '' : 'ion-hide'}}">
          <ion-text color="primary"><h3>Grupos familiares</h3></ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" *ngIf="!showGroupData && !sectorSelected && sectors?.length > 0">
          <ion-list>
            <app-group-item-list
              [list]="sectors"
              label="Sector"
              keyItem="sector"
              [simpleValue]="true"
              [handleClick]="handleClickAction1"
            ></app-group-item-list>
          </ion-list>
        </ion-col>
        <ion-col size="12" *ngIf="!showGroupData && sectorSelected && !subSectorSelected">
          <ion-list>
            <app-group-item-list
              [list]="subSectors"
              label="Sub-Sector"
              keyItem="subSector"
              [handleClick]="handleClickAction2"
            ></app-group-item-list>
          </ion-list>
        </ion-col>
        <ion-col size="12" *ngIf="!showGroupData && sectorSelected && subSectorSelected">
          <ion-list>
            <app-group-item-list
              [list]="subSectorsGroups"
              label="Grupo"
              keyItem="number"
              [handleClick]="handleClickAction3"
            ></app-group-item-list>
          </ion-list>
        </ion-col>
        <ion-col size="12" *ngIf="showGroupData" class="ion-no-margin ion-no-padding">
          <app-group-item-location [data]="showGroupData"></app-group-item-location>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row class="ion-margin-top" *ngIf="!viewSelected && !showGroupData">
    <ion-col class="ion-margin-top">
      <br>
      <br>
    </ion-col>
  </ion-row>

  <ion-row class="footer ion-text-center" *ngIf="churchSelected === -1 && !sectorSelected">
    <ion-col>
      <ion-button
        color="{{!showGroups ? 'primary' : 'light'}}"
        expand="block"
        size="large"
        (click)="setView(false)"
      >
        <ion-icon name="list-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button
        color="{{showGroups ? 'primary' : 'light'}}"
        expand="block"
        size="large"
        (click)="setView(true)"
      >
        <ion-icon name="people-circle-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
