<ion-content>
  <ion-header>
    <app-minheader title="Escuela"></app-minheader>
  </ion-header>

  <div *ngIf="courses !== null">

    <ion-row *ngIf="courses && courses.length > 0">
      <ion-col size="12" class="ion-margin-start">
        <ion-text color="medium"><h3>Tus niveles</h3></ion-text>
      </ion-col>
    </ion-row>

    <div *ngIf="courses && courses.length > 0; else noCourses" >
      <ion-list>
        <ion-item class="ion-margin-bottom" *ngFor='let course of courses' button (click)="course.enable ? goToDetails(course.slug) : msgCantView()">
          <ion-img src="assets/icon/level-{{course.level}}{{course.enable ? '' : '-gray'}}.svg" class="icon-courses" slot="start"></ion-img>
          <ion-text class="ion-margin-bottom" color="medium">
            <b>{{ course.title }}</b><br>
            <span>{{ course.description }}</span>
          </ion-text>
          <ion-text slot="end" class="ion-margin-end">
            <ion-img src="assets/icon/{{course.enable ? 'unlock' : 'lock'}}.svg"></ion-img>
          </ion-text>
        </ion-item>
      </ion-list>
    </div>

    <ng-template #noCourses>
      <ion-card class="ion-margin-top ion-margin-bottom ion-no-padding">
        <ion-text class="ion-text-center" color="medium">
          <p *ngIf="!queryParams.title"><ion-icon name="alert-circle-outline"></ion-icon> En estos momentos no existen cursos disponibles.</p>
        </ion-text>
      </ion-card>
    </ng-template>
  </div>
</ion-content>
