<ion-content>
  <ion-header>
    <app-minheader title="Escuela"></app-minheader>
  </ion-header>

  <ion-list *ngFor='let course of courses'>
    <ion-card *ngIf="course" button (click)="goToDetails(course.slug)">
      <ion-img class="banner" [src]="course.banner"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Por: {{ course.speaker }}</ion-card-subtitle>
        <ion-card-title>{{ course.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text *ngIf="course.description">{{ course.description.substr(0, 150) }}</ion-text>
        <ion-button color="primary" expand="block" (click)="goToDetails(course.slug)">
          <ion-text>
            <ion-icon name="open-outline"></ion-icon>
            Ver detalles
          </ion-text>
        </ion-button>
      </ion-card-content>
    </ion-card>

  </ion-list>
</ion-content>
