<ion-header>
  <app-minheader title="Detalles evento"></app-minheader>
</ion-header>

<ion-content color="light">
  <ion-row *ngIf="eventDataForm && showEditForm">
    <ion-col size="12">
      <app-events-form
        [eventData]="eventDataForm"
        [handleCancel]="cancelEditInfo"
        [handleSave]="saveEditInfo"
      ></app-events-form>
    </ion-col>
  </ion-row>

  <div *ngIf="eventData && !showEditForm">
    <div
      class="banner-event-no-picture"
      [ngStyle]="{backgroundImage: 'url('+(eventData.picture || '/assets/icon/evento_lista.svg')+')'}"
      *ngIf="eventData.picture"
    >
    </div>
    <div
      class="banner-event-no-picture"
      [ngStyle]="{backgroundImage: 'url(/assets/icon/evento_lista.svg)'}"
      *ngIf="!eventData.picture"
    >
    </div>
  </div>
  <ion-card *ngIf="eventData && !showEditForm">
    <ion-card-content>
      <ion-row *ngIf="eventData && !showEditForm">
        <ion-col size="12">
          <ion-text color="primary">
            <h1 class="title-event">{{ eventData.title ? eventData.title : '' }}</h1>
          </ion-text>
        </ion-col>

        <ion-col size="12">
          <ion-row>
            <ion-col size="12" [sizeSm]="6">
              <ion-text><b>Creado por:</b></ion-text><br>
              <ion-text>{{ eventData.user ? eventData.user.names + ' ' + eventData.user.lastNames : 'Anónimo' }}</ion-text>
            </ion-col>

            <ion-col size="12" [sizeSm]="6">
              <ion-text><b>Dirigido a:</b></ion-text><br>
              <ion-text>{{ getRoleValue() }}</ion-text>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col size="12" *ngIf="eventDataForm.dateEnd">
          <ion-row>
            <ion-col size="12" [sizeSm]="6">
              <ion-text><b>Fecha inicio:</b></ion-text><br>
              <ion-text>{{ eventData.date || '????' }}</ion-text>
            </ion-col>
            <ion-col size="12" [sizeSm]="6">
              <ion-text><b>Fecha fin:</b></ion-text><br>
              <ion-text>{{ eventData.dateEnd || '????' }}</ion-text>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col size="12" *ngIf="!eventDataForm.dateEnd">
          <ion-row>
            <ion-col size="12" [sizeSm]="6">
              <ion-text><b>Fecha:</b></ion-text><br>
              <ion-text>{{ eventData.date ? eventData.date : '????' }}</ion-text>
            </ion-col>
            <ion-col size="12" [sizeSm]="6" class="ion-no-padding">
              <ion-row>
                <ion-col size="6">
                  <ion-text><b>Hora inicio:</b></ion-text><br>
                  <ion-text>{{ eventData?.initHour || '????' }}</ion-text>
                </ion-col>
                <ion-col size="6" *ngIf="eventData?.endHour">
                  <ion-text><b>Hora fin:</b></ion-text><br>
                  <ion-text>{{ eventData.endHour || '????' }}</ion-text>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col [size]="12" class="ion-padding-top">
          <ion-text><b class="no-selected-text">Descripción:</b></ion-text>
          <ion-text>
            <div [innerHTML]="eventData.description"></div>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-row class="ion-padding" *ngIf="!eventData && !showEditForm">
    <ion-col size="12">
      <ion-card class="ion-no-margin ion-no-padding">
        <ion-card-content>
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <ion-text>
                <p><ion-icon name="alert-circle-outline"></ion-icon> Disculpe, pero no se logró obtener la información del evento.</p>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row class="ion-padding" *ngIf="!showEditForm">
    <ion-col size="12" class="ion-text-center">
      <ion-button color="medium" (click)="goBack()">
        <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
        <ion-text>Atrás</ion-text>
      </ion-button>
      <ion-button (click)="setShowEditForm()" *ngIf="showButtonEdit">
        <ion-icon name="create-outline" slot="start"></ion-icon>
        <ion-text>Editar</ion-text>
      </ion-button>
      <ion-button color="danger" (click)="confirmDeleteAction()" *ngIf="showButtonEdit">
        <ion-icon name="trash-outline" slot="start"></ion-icon>
        <ion-text>Borrar</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
