<ion-header>
  <app-minheader title="Curso" slugValue="{{slug}}"></app-minheader>
</ion-header>

<ion-content color="light">
  <div *ngIf="course">
    <ion-card>
      <ion-card-header>
        <ion-row>
          <ion-col size="12" class="ion-margin-top ion-margin-bottom">
            <ion-img src="assets/icon/level-{{course.level}}.svg" class="icon-courses"></ion-img>
          </ion-col>
          <ion-col size="12" class="ion-no-padding ion-no-margin ion-justify-content-center">
            <ion-card-subtitle class="ion-margin-top">{{ course.speaker }} - {{ course.speakerPosition }}</ion-card-subtitle>
            <ion-card-title>{{ course.title }}</ion-card-title>
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content *ngIf="course.description">
        <div [innerHTML]="course.description"></div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Temas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list class="ion-no-padding ion-no-margin" *ngFor='let temary of course.temary; let i=index'>
          <ion-item class="ion-no-padding ion-no-margin" button (click)="openClassModal(i)" mode="ios">
            <ion-img slot="start" src="/assets/icon/class-video{{temary.view === 2 ? '' : '-gray'}}.svg" *ngIf="temary.urlVideo"></ion-img>
            <ion-img slot="start" src="/assets/icon/class-text{{temary.view === 2 ? '' : '-gray'}}.svg" *ngIf="!temary.quiz && !temary.urlVideo"></ion-img>
            <ion-img slot="start" src="/assets/icon/class-quiz{{temary.view === 2 ? '' : '-gray'}}.svg" *ngIf="temary.quiz"></ion-img>
            <ion-text><b>{{ temary.title }}</b></ion-text>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

  <br>

</ion-content>
