<ion-content color="light">
  <ion-header>
    <app-minheader title="Detalles del miembro"></app-minheader>
  </ion-header>

  <div *ngIf="member; else noData">
    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <ion-card>
          <ion-card-header class="ion-no-padding" color="primary">
            <ion-toolbar color="primary">
              <ion-buttons slot="start">
                <ion-button (click)="setShowView()">
                  <ion-icon name="chevron-{{showInfo ? 'up' : 'down' }}-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
              <ion-title>Datos de contacto</ion-title>
            </ion-toolbar>
          </ion-card-header>
          <ion-card-content class="{{showInfo ? '' : 'ion-hide'}}">
            <ion-row>
              <ion-col size="12" class="ion-margin-top">
                <app-resume-profile [member]="member"></app-resume-profile>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <app-resume-hijos-educacion
      [id]="member._id"
      [isMember]="true"
      [showGroup]="true"
      [coursesData]="courses"
      [referralsData]="referrals"
      [groupData]="group"
    >
    </app-resume-hijos-educacion>

    <ion-row>
      <ion-col><br/><br/></ion-col>
    </ion-row>
  </div>
  <ng-template #noData>
    <ion-card>
      <ion-card-content>
        <ion-text class="ion-text-center" color="medium">
          <p><ion-icon name="alert-circle-outline"></ion-icon> Disculpe, pero no se logró obtener la información solicitada.</p>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </ng-template>

  <ion-fab
    class="ion-margin-end ion-margin-bottom"
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    *ngIf="member"
  >
    <ion-fab-button color="primary" (click)="showVisits()">
      <ion-icon name="clipboard-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
