<ion-content class="content">
  <ion-header>
    <app-minheader title="Detalles del miembro"></app-minheader>
  </ion-header>

  <div *ngIf="views.info.data; else noData">
    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <ion-card>
          <ion-card-header class="ion-no-padding" color="primary">
            <ion-toolbar color="primary">
              <ion-buttons slot="start">
                <ion-button (click)="setShowView('info')">
                  <ion-icon name="chevron-{{views.info.show ? 'up' : 'down' }}-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
              <ion-title>{{ views.info.title }}</ion-title>
            </ion-toolbar>
          </ion-card-header>
          <ion-card-content class="{{views.info.show ? '' : 'ion-hide'}}">
            <ion-row>
              <ion-col size="5">
                <ion-text><b>Nombres:</b></ion-text>
              </ion-col>
              <ion-col size="7">
                <ion-text>{{views.info.data.names || 'No indicado'}}</ion-text>
              </ion-col>
              <ion-col size="5">
                <ion-text><b>Apellidos:</b></ion-text>
              </ion-col>
              <ion-col size="7">
                <ion-text>{{views.info.data.lastNames || 'No indicado'}}</ion-text>
              </ion-col>
              <ion-col size="5">
                <ion-text><b>Teléfono:</b></ion-text>
              </ion-col>
              <ion-col size="7">
                <ion-text>{{views.info.data.phone || 'No indicado'}}</ion-text>
              </ion-col>
              <ion-col size="5">
                <ion-text><b>Correo electrónico:</b></ion-text>
              </ion-col>
              <ion-col size="7">
                <ion-text>{{views.info.data.email || 'No indicado'}}</ion-text>
              </ion-col>
              <ion-col size="5">
                <ion-text><b>Fecha de nac.:</b></ion-text>
              </ion-col>
              <ion-col size="7">
                <ion-text>{{views.info.data.birthday || 'No indicado'}}</ion-text>
              </ion-col>
              <ion-col size="5">
                <ion-text><b>Sexo:</b></ion-text>
              </ion-col>
              <ion-col size="7">
                <ion-text>{{views.info.data.birthday || 'No indicado'}}</ion-text>
              </ion-col>
              <ion-col size="5">
                <ion-text><b>Estado civil:</b></ion-text>
              </ion-col>
              <ion-col size="7">
                <ion-text>{{views.info.data.birthday || 'No indicado'}}</ion-text>
              </ion-col>
              <ion-col size="5">
                <ion-text><b>Departamento:</b></ion-text>
              </ion-col>
              <ion-col size="7">
                <ion-text>{{views.info.data.department || 'No indicado'}}</ion-text>
              </ion-col>
              <ion-col size="5">
                <ion-text><b>Cuidad:</b></ion-text>
              </ion-col>
              <ion-col size="7">
                <ion-text>{{views.info.data.city || 'No indicado'}}</ion-text>
              </ion-col>
              <ion-col size="5">
                <ion-text><b>Barrio:</b></ion-text>
              </ion-col>
              <ion-col size="7">
                <ion-text>{{views.info.data.locality || 'No indicado'}}</ion-text>
              </ion-col>
              <ion-col size="5">
                <ion-text><b>Dirección:</b></ion-text>
              </ion-col>
              <ion-col size="7">
                <ion-text>{{views.info.data.direction || 'No indicado'}}</ion-text>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top ion-padding">
      <ion-col size="6">
        <ion-button expand="block" color="{{views.referrals.show ? 'primary' : 'light'}}" (click)="setShowGroup(true)">
          Hijos espirituales
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="{{views.courses.show ? 'primary' : 'light'}}" (click)="setShowGroup()">
          Educación
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-card class="{{ views.referrals.show ? '' : 'ion-hide'}}">
      <ion-card-content class="ion-no-padding">
        <ion-row>
          <ion-col size="12" class="ion-padding">
            <ion-text color="medium">
              <b>Hijos espirituales ({{ views.referrals.totals }})</b>
            </ion-text>
          </ion-col>
          <ion-col size="12" *ngIf="views.referrals.totals > 0">
            <app-personcard *ngFor='let referred of views.referrals.data' [data]="referred" [disabledClick]="true"></app-personcard>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card class="{{ views.courses.show ? '' : 'ion-hide'}}">
      <ion-card-content>
        <ion-row>
          <ion-col size="6">
            <ion-text color="dark">
              <h2 class="numberTitle">{{ totalCourses }}</h2>
            </ion-text>
            <ion-img class="pictureLogo" [src]="'/assets/icon/escuela.svg'"></ion-img>
            <p class="ion-text-center">Cursos</p>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <br/>
  </div>
  <ng-template #noData>
    <ion-card>
      <ion-card-content>
        <ion-text class="ion-text-center" color="medium">
          <p><ion-icon name="alert-circle-outline"></ion-icon> Disculpe, pero no se logró obtener la información solicitada.</p>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
