<ion-header>
  <app-minheader title="Ofrendas"></app-minheader>
</ion-header>

<ion-content color="light">
  <div *ngIf="banks && banks.length > 0; else noBanks">
    <ion-list *ngFor='let bank of banks'>
      <ion-card *ngIf="bank && bank.description">
        <ion-img class="pictureIconBank" [src]="bank.picture"></ion-img>
        <ion-card-header>
          <ion-card-title>{{ bank.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div [innerHTML]="bank.description"></div>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

  <ng-template #noBanks>
    <div class="ion-margin-bottom ion-padding-bottom">
      <ion-card>
        <ion-card-content>
          <ion-text class="ion-text-center" color="medium">
            <p><ion-icon name="alert-circle-outline"></ion-icon> Disculpe, pero actualmente no disponemos de bancos para realizar donativos.</p>
          </ion-text>
        </ion-card-content>
      </ion-card>
    </div>
  </ng-template>
</ion-content>
