/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-split-pane{
  --border: none !important;
  ion-menu{
    --background: var(--ion-color-primary) !important;
    ion-content{
      --background: var(--ion-color-primary) !important;
      ion-list-header{
        --background: var(--ion-color-primary) !important;
        --color: #FFFFFF !important;
      }
      ion-menu-toggle{
        --background: var(--ion-color-primary) !important;
        --color: #FFFFFF !important;
      }
      ion-menu{
        --background: var(--ion-color-primary) !important;
        --color: #FFFFFF !important;
      }
      .list-md{
        --background: var(--ion-color-primary) !important;
        --color: #FFFFFF !important;
      }
      ion-item{
        --background: var(--ion-color-primary) !important;
        --color: #FFFFFF !important;
        ion-icon{ padding-right: 10px !important; }
      }
    }
  }
}

b {
  font-weight: 550;
  color: #4d4d4d;
}

.numberTitle {
  text-align: center !important;
  font-size: 2em !important;
  font-weight: 600;
}

.separator {
  width: 100% !important;
  //height: 1px;
  border: 1px solid #999999;
  margin: 5px auto !important;
}

.img-fluid{
  width: 100% !important;
  height: auto !important;
}

.titulo1{
  font-size: 1.4em;
  font-weight: 700;
}

.subTitulo1 {
  font-size: 1.3em;
  font-weight: 600;
  padding: 0 1em !important;
}

.titulo2{
  font-size: 1.2em;
  font-weight: 400;
}

.fondoCool{
  //background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/cruz.png");
  background-size: cover;
  background-position: center center;
}

.logo{
  border-radius: 5px;
}

.logo-2{
  border-radius: 5px;
  margin: auto !important;
}

.pictureIcon {
  width: 150px !important;
  margin: 0 auto !important;
}

.toUpper { text-transform: uppercase !important; }

.toSmall { font-size: 0.8em !important; }

/*
To static top bar
 */
.sticky-menu {
  position: sticky !important;
  top: 0;
  z-index: 1001;
}


/*
  To banner events
 */
.banner-event {
  border-radius: 5px 5px 0 0;
  background-size: cover !important;
  background-position: center !important;
}

.banner-event-no-picture {
  border-radius: 5px 5px 0 0;
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: center !important;
}

.img-rounded {
  border-radius: 50%;
}

.img-bordered {
  border-radius: 10px;
}

.h-350 {
  height: 350px;
}

/* Guest view */
.scrolling-wrapper {
  margin: 10px auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card {
    min-height: 110px !important;
    display: inline-block;
    height: 100% !important;
    width: 85%;
    white-space: normal;
  }
  .card3 {
    display: inline-block;
    width: 45%;
    white-space: normal;
  }
  .img_header{
    height: 110px !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .img_header2{
    height: 110px !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .img_header3{
    margin: 5px auto;
    height: 70px !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .img_header4{
    height: 116px !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .title-card {
    font-weight: 550 !important;
  }
  .description{
    margin: 5px 0;
  }
}

