<ion-card *ngIf="course" (click)="action">
  <ion-img class="banner" [src]="course.banner"></ion-img>
  <ion-card-header>
    <ion-card-subtitle>Por: {{ course.speaker }}</ion-card-subtitle>
    <ion-card-title>{{ course.title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-text>{{ course.description || '' }}</ion-text>
    <ion-button color="primary" expand="block" (click)="action">
      <ion-text>
        <ion-icon name="open-outline"></ion-icon>
        Ver detalles
      </ion-text>
    </ion-button>
  </ion-card-content>
</ion-card>
