<ion-card
  class="ion-no-padding ion-no-margin ion-margin-start ion-margin-end ion-margin-bottom"
  *ngIf="course"
  (click)="goToDetails()"
>
  <ion-card-content class="ion-no-margin ion-no-padding">
    <ion-row>
      <ion-col size="3">
        <ion-avatar>
          <ion-img class="banner" [src]="course.banner || 'assets/icon/escuela.svg'"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col>
        <ion-text><p><b>{{ course.title}}</b></p></ion-text>
        <ion-text *ngIf="course.description">{{ course.description.substr(0, 150) }}</ion-text>
        <div>
          <i class="toSmall">Toca para más información.</i>
        </div>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
