<div class="church-card" *ngIf="church" (click)="handleClickAction()">
  <ion-card>
    <div
      [ngStyle]="{'background-image': 'url(' + (church.picture || '/assets/cruz.png')+ '), url(/assets/cruz.png)', height: '160px'}"
      class="img_card"
    ></div>
    <ion-card-content class="ion-no-padding">
      <ion-row>
        <ion-col [size]="12">
          <ion-text color="primary">
            <h1>{{church.name}}</h1>
          </ion-text>
        </ion-col>
        <ion-col [size]="12" *ngIf="extendData">
          <ion-text>
            <ion-icon name="call-outline"></ion-icon>&nbsp;
            {{church.phone1 || 'No indicado.'}}&nbsp;
          </ion-text>
          <ion-text *ngIf="church.phone2">
            <br>
            <ion-icon name="call-outline"></ion-icon>&nbsp;
            {{church.phone2 || ''}}
          </ion-text>
          <ion-text *ngIf="church.email">
            <br>
            <ion-icon name="at-outline"></ion-icon>&nbsp;
            {{church.email || ''}}
          </ion-text>
        </ion-col>
        <ion-col [size]="12" *ngIf="church.description">
          <ion-text>
            <ion-icon name="text-outline"></ion-icon>&nbsp;
            {{church.description}}
          </ion-text>
        </ion-col>
        <ion-col [size]="12" *ngIf="church.address">
          <ion-text>
            <ion-icon name="location-outline"></ion-icon>&nbsp;
            {{church.address}}
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</div>
