<ion-content *ngIf="content">
  <ion-header>
    <app-minheader title="Visor de contenido" [modal]="true"></app-minheader>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ content.title }}</ion-card-title>
    </ion-card-header>
    <div *ngIf="content.urlVideo">
      <app-video-player urlVideo="{{content.urlVideo}}"></app-video-player>
    </div>

    <ion-card-content *ngIf="content.description">
      <div [innerHTML]="content.description"></div>
    </ion-card-content>

    <ion-card-content>
      <ion-button color="primary" expand="block" (click)="closeModal()">
        <ion-icon name="checkmark-done-outline" slot="start"></ion-icon>
        Finalizar contenido
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
